# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env.*
!.env.example

# Build/Distribution Folders
dist/
build/

# Netlify
.netlify/

# Supabase
supabase/functions/_prebuilt/
supabase/.temp/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.iml
